Python Basic

1- Write a Python program to print "Hello, World!

In [ ]:
print('Hello, world')

Hello, world

2- Write a Python program that displays your name and age?

In [5]:
print('My name is', 'Akanksha')
print('I am 25 years old' )

My name is Akanksha
I am 25 years old

3- Write code to print all the pre-defined keywords in Python using the keyword library?

In [6]:
help('keywords')

Here is a list of the Python keywords.  Enter any keyword to get more help.

False               class               from                or
None                continue            global              pass
True                def                 if                  raise
and                 del                 import              return
as                  elif                in                  try
assert              else                is                  while
async               except              lambda              with
await               finally             nonlocal            yield
break               for                 not

4-Write a program that checks if a given word is a Python keyword.

In [7]:
import keyword
s=input('enter any word')
if keyword.iskeyword(s):
  print('your entered word is a keyword in python')
else:
  print('your entered word is not a keyword in python')

enter any wordhello
your entered word is not a keyword in python

In [8]:
import keyword
help('keywords')

Here is a list of the Python keywords.  Enter any keyword to get more help.

False               class               from                or
None                continue            global              pass
True                def                 if                  raise
and                 del                 import              return
as                  elif                in                  try
assert              else                is                  while
async               except              lambda              with
await               finally             nonlocal            yield
break               for                 not

In [9]:
import keyword
input('enter any word')

enter any wordcontinue

'continue'

5-  Create a list and tuple in Python, and demonstrate how attempting to change an element works differently
for each.

In [12]:
list_cont = [1, 2, 3, 4.5, 3+5j, 'Akanksha']
list_cont

[1, 2, 3, 4.5, (3+5j), 'Akanksha']

In [13]:
list_cont[0]

1

In [14]:
type(list_cont)

list

In [15]:
list_cont[-2]

(3+5j)

6- Write a function to demonstrate the behavior of mutable and immutable arguments.

In [1]:
list_cont = [1, 2, 3.5, 4, 3+5j, 'Akanksha']
list_cont

[1, 2, 3.5, 4, (3+5j), 'Akanksha']

In [2]:
list_cont[-1]

'Akanksha'

In [7]:
#mutability
list_cont[-1] = 'Rahul'

In [6]:
list_cont

[1, 2, 3.5, 4, (3+5j), 'Rahul']

In [8]:
#immutability
b = "Banana"
b

'Banana'

In [9]:
b[0]

'B'

In [10]:
b[0] = "a"

TypeError: 'str' object does not support item assignment

7-Write a program that performs basic arithmetic operations on two user-input numbers.

In [11]:
a = 4
b = 2
a+b

6

In [12]:
a-b

2

In [13]:
a*b

8

In [14]:
a/b

2.0

8- Write a program to demonstrate the use of logical operators.

In [16]:
a = 7
b = 3

#AND operator; TRUE if both are true
print(a > 5 and b < 5)
print(a > 5 and b > 5)

True
False

In [18]:
a = 7
b = 3

#OR opeartor; True if atleast one is true
print(a > 5 or b < 5)
print(a < 5 or b > 5)

True
False

In [19]:
#Not Operator; reverse true or false
print(not(a == 7))
print(not(b == 5))

False
True

9- Write a Python program to convert user input from string to integer, float, and boolean types.

In [1]:
a = "3"
b = 4
a+b

TypeError: can only concatenate str (not "int") to str

In [2]:
a = '3' #integer
b = 4
int(a)+b

7

In [4]:
#string to integer

a = '3'
print(type(a))
print(type(int(a)))

<class 'str'>
<class 'int'>

In [6]:
#float to integer
a = 5.7
type(a)
float_value = int(a)
type(float_value)

int

In [7]:
int(a)

5

In [8]:
#integer to float
a = 4
type(a)

int

In [9]:
b = float(a)
b

4.0

In [10]:
#string to float
a = '3.4'
type(a)

str

In [11]:
float(a)

3.4

In [13]:
#integer to string
a = 8
type(a)

int

In [14]:
str(a)

'8'

In [15]:
#integer to boolean
a = 2
type(a)

int

In [16]:
bool(a)

True

10-Write code to demonstrate type casting with list elements.

In [18]:
#string to integer
a = '5'
b = '6'
type(a)

str

In [19]:
int(a)

5

In [21]:
#string to float
a = '4'
type (a)

str

In [22]:
float(a)

4.0

In [24]:
#string to bool

a = '10'
type(a)

str

In [25]:
bool(a)

True

11- Write a program that checks if a number is positive, negative, or zero.

In [2]:
x = 7
if x > 0:
  print('the number is positive')
elif x < 0:
  print('the number is negative')
else:
  print('the number is zero')

the number is positive

12- Write a for loop to print numbers from 1 to 10.

In [8]:

for i in range(1, 11):
  print(i)

1
2
3
4
5
6
7
8
9
10

13- Write a Python program to find the sum of all even numbers between 1 and 50.

In [15]:
total = 0
for i in range(1, 51):
  if i % 2 == 0:
    total += i

    print("sum of even numbers between 1 and 50:" , total)

sum of even numbers between 1 and 50: 2
sum of even numbers between 1 and 50: 6
sum of even numbers between 1 and 50: 12
sum of even numbers between 1 and 50: 20
sum of even numbers between 1 and 50: 30
sum of even numbers between 1 and 50: 42
sum of even numbers between 1 and 50: 56
sum of even numbers between 1 and 50: 72
sum of even numbers between 1 and 50: 90
sum of even numbers between 1 and 50: 110
sum of even numbers between 1 and 50: 132
sum of even numbers between 1 and 50: 156
sum of even numbers between 1 and 50: 182
sum of even numbers between 1 and 50: 210
sum of even numbers between 1 and 50: 240
sum of even numbers between 1 and 50: 272
sum of even numbers between 1 and 50: 306
sum of even numbers between 1 and 50: 342
sum of even numbers between 1 and 50: 380
sum of even numbers between 1 and 50: 420
sum of even numbers between 1 and 50: 462
sum of even numbers between 1 and 50: 506
sum of even numbers between 1 and 50: 552
sum of even numbers between 1 and 50: 600
sum of even numbers between 1 and 50: 650

14- Write a program to reverse a string using a while loop.

In [16]:
text = "world"
reversed_text = ""
index = len(text) - 1
while index >= 0:
  reversed_text += text[index]
  index -= 1
  print("reversed string" , reversed_text)

reversed string d
reversed string dl
reversed string dlr
reversed string dlro
reversed string dlrow